<div>
    <p class="title">Hero Detail page</p>
    <p>
        <span>{{selectedHero?.name | uppercase}}</span><br>
        <span>Hero id: {{selectedHero?.id}}</span><br>
        <span><input type="text" [(ngModel)]="selectedHero.name"></span><br>
        <!-- <span><button (click)="updateHero()">Edit</button></span>
        <span><button (click)="deleteHero(selectedHero)">Delete</button></span> -->
    </p>
    <!-- <p *ngIf="editMode">
        Update hero name here: <span><input type="text" [(ngModel)]= "selectedHero.name" placeholder="hero.name"></span><br>
        <span><button (click)="saveChanges(selectedHero)">Save</button></span>
    </p> -->
</div>
